In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from joblib import load,dump

In [2]:
df = pd.read_csv('../data/original_data/train.csv')

In [4]:
df.orig_destination_distance.mean()

1970.090026720705

In [18]:
sc = load('../parameters/sc_distance.bin')

In [22]:
df['orig_destination_distance'] = df.orig_destination_distance.fillna(1970)
df['orig_destination_distance'] = sc.transform(df.orig_destination_distance.values.reshape(-1,1))

In [9]:
sc = StandardScaler()

In [13]:
sc.fit_transform(df.orig_destination_distance.values.reshape(-1,1))

array([[ 0.11833411],
       [ 0.11833411],
       [ 0.11833411],
       ...,
       [-0.58317887],
       [-0.83480884],
       [-0.83480884]])

In [16]:
dump(sc,filename='../parameters/sc_distance.bin')

['../parameters/sc_distance.bin']

In [3]:
for col in df.columns:
    print(f'{col}: {df[col].isna().sum()}')

date_time: 0
site_name: 0
posa_continent: 0
user_location_country: 0
user_location_region: 0
user_location_city: 0
orig_destination_distance: 13525001
user_id: 0
is_mobile: 0
is_package: 0
channel: 0
srch_ci: 47083
srch_co: 47084
srch_adults_cnt: 0
srch_children_cnt: 0
srch_rm_cnt: 0
srch_destination_id: 0
srch_destination_type_id: 0
is_booking: 0
cnt: 0
hotel_continent: 0
hotel_country: 0
hotel_market: 0
hotel_cluster: 0

In [3]:
df['day'] = pd.DatetimeIndex(df['date_time']).day
df['year'] = pd.DatetimeIndex(df['date_time']).year

In [7]:
test = df.loc[(df.day > 20) &  (df.year == 2014)]

In [13]:
test.index[[0,1,2,3]]

Int64Index([14, 15, 16, 17], dtype='int64')

In [14]:
test.loc[test.index.isin(test.index[[0,1,2,3]])]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,day,year
14,2014-01-21 06:39:08,2,3,66,318,22418,421.8551,756,0,1,...,8291,1,0,1,2,50,191,25,21,2014
15,2014-01-21 06:40:18,2,3,66,318,22418,421.8551,756,0,1,...,8291,1,0,1,2,50,191,25,21,2014
16,2014-01-22 06:10:02,2,3,66,318,22418,421.8551,756,0,1,...,8291,1,0,1,2,50,191,25,22,2014
17,2014-01-24 11:52:04,2,3,66,318,22418,421.8551,756,0,1,...,8291,1,0,1,2,50,191,25,24,2014

In [18]:
pd.Series(test.index).to_csv('../data/datasets/test/test_id.csv')