In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/original_data/train.csv')

In [3]:
df['day'] = pd.DatetimeIndex(df['date_time']).day
df['year'] = pd.DatetimeIndex(df['date_time']).year

In [7]:
test = df.loc[(df.day > 20) &  (df.year == 2014)]

In [13]:
test.index[[0,1,2,3]]

Int64Index([14, 15, 16, 17], dtype='int64')

In [14]:
test.loc[test.index.isin(test.index[[0,1,2,3]])]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,day,year
14,2014-01-21 06:39:08,2,3,66,318,22418,421.8551,756,0,1,...,8291,1,0,1,2,50,191,25,21,2014
15,2014-01-21 06:40:18,2,3,66,318,22418,421.8551,756,0,1,...,8291,1,0,1,2,50,191,25,21,2014
16,2014-01-22 06:10:02,2,3,66,318,22418,421.8551,756,0,1,...,8291,1,0,1,2,50,191,25,22,2014
17,2014-01-24 11:52:04,2,3,66,318,22418,421.8551,756,0,1,...,8291,1,0,1,2,50,191,25,24,2014

In [18]:
pd.Series(test.index).to_csv('../data/datasets/test/test_id.csv')